body{
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Staatliches', cursive;
    margin-left: 10%;
}
h1{
    font-size: 58px;
}
h2{
    font-size: 53px;
}
.explore{
    text-decoration: none;
    background-color: #ffA500;
    padding:12px;
    font-size:20px;

}
.stay-focused{
     border-left:3px solid sandybrown;
     border-image-slice: 1;
}
.stay-flex{
    display:flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
    
}
.mission-style{
    color:tomato;
}
#my-mission{
    text-align: center;
}
.illustrators-flex{
    display:flex;
}
.illustrators-flex img{
    margin-left: 5%;
    width: 100%;
}
.illus-img img{
    height: 50%;
    width: 50%;
}
.illustrators-flex .illus-img{

    width: 50%;
    margin: 25px;
}
#illus-one{
    background-color: rgb(240, 8, 54);
    padding: 5%;
    border-radius:10px
}
#illus-two{
    background-color: rgb(233, 31, 9);
    padding: 5%;
    border-radius:10px;
}
#illus-three{
    background-color: rgb(248, 8, 248);
    padding: 5%;
    border-radius:10px;
}
.coding-flex{
    display: flex;
    margin-top: 50px;
}
.coding-left img{
    width: 80%;
    padding-left: 5px;
}
.develop-right{
    
}
