body{
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin-top:0;
}
.Stay-font{
    color:#ffA500;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
}
.EXPLORE{
    text-decoration:none;
    background-color: #ffA500;
    padding:18px;
    border-radius: 10px;
    font-size:25px;
    color:aqua;
}
.stay-focused{
    border-left: 3px solid fuchsia;
    border-image-slice:1;
}
.stay-flex{
    display: flex;
}
.half-width{
    width: 50%;
    margin-left: 10%;
}
.half-width img{
    width: 100%;
    margin-right: 10%;
}
.mission-section h1{
    text-align: center;
}
.mission{
    display:flex;
    margin-left: 10%;
}
.mission img{
    width: 100%;
    margin-right: 10%;
    height: 50%;
    width: 50%;
}
.total-width{
    width: 33%;
    margin-left: 25px;
}
#item1{
    background-color: indianred;
    padding:10px 20px;
    border-radius: 15px;

}  
#item2{
    background-color: indigo;
    padding: 10px 20px;
    border-radius: 15px;
} 
#item3{
    background-color: khaki;
    padding: 10px 20px;
    border-radius: 15px;
}