body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 65px;
}
h2{
    font-size:60px;
}
.my-header-two{
    color:#ffA500;
}
.anchor-tag{
    text-decoration:none;
    background-color:#ff4500;
    padding:14px 18px;
    border-radius:10px;
    font-size:20px;
    font-weight:800;
    color:chartreuse;
}
.half-width{
    width:50%;
}
section{
    display:flex;
}
.half-width img{
    width:100%;
}