body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 65px;
}
h2{
    font-size:60px;
}
.my-header{
    color:#ffA500;
}
.anchor-tag{
    text-decoration:none;
    background-color:#ff4500;
    padding:14px 18px;
    border-radius:10px;
    font-size:20px;
    font-weight:800;
    color:chartreuse;
}
.half-width{
    width:50%;
    margin-left: 7%;
}
.first-container{
    display:flex;
   
}
.half-width img{
    width:100%;
}
.my-mission{
    text-align:center;
}
.middle-container{
    width: 100%;
    display: flex;
   
}
.middle-container img{
    width: 100%;
   
}
.ills-item{
    box-shadow: 10px 20px 35px salmon;
    margin-left:5%;
    margin-right:5%;
    border-radius: 10px;
    padding-left: 25px;
}
section{
    margin-top:150px;   
}
#item1{
    background-color: tomato;
}
#item2{
    background-color: brown;
}
#item3{
    background-color: coral;
}
footer{
    background-color:black;
    text-align: center;
}
.text-color{
    color: whitesmoke;
}
.txt{
    color:#ff4500;
}
#my-pera{
    color:aliceblue;
}